# Tentukan domain atau URL aplikasi
https://moviesapiusinglaravel-production.up.railway.app/ {

    # Tentukan root folder aplikasi ke public
    root * /var/www/html/public

    # Tentukan index file (index.php)
    php_fastcgi unix//var/run/php/php8.2-fpm.sock

    # Caching untuk file statis
    file_server {
        root /var/www/html/public
    }

    # Redirect HTTP ke HTTPS
    redir https://{host}{uri} 301

    # Tentukan log file untuk debugging (optional)
    log {
        output file /var/log/caddy/laravel.log
        format json
    }
}
